h1 {
  color: lightslategray;
}

img{
  max-width: 33%;
}

header li{
  display: inline;
  margin: 0 60px 0 0;
  font-size: 1.3rem;
}

.smallText{
  font-size: 0.75rem;
}

header ul{
  padding: 0
}

body{
  padding: 20px
}