{% form_theme create_category_form 'IMGShopBundle:Form:bootstrap_3_horizontal_layout_special.html.twig' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Category creation</h1>

            {{ form_start(create_category_form) }}
            {{ form_widget(create_category_form) }}
            {{ form_end(create_category_form) }}

            <ul>
                <li>
                    <a href="{{ path('categories_manage') }}">Back to the list</a>
                </li>
            </ul>
        </div>

    </section>

{% endblock %}
